{% extends "base.html" %}

{% block content %}
    <head>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {'packages':['line']});
            google.charts.setOnLoadCallback(drawChartToday);
            google.charts.setOnLoadCallback(drawChartSeven);
            google.charts.setOnLoadCallback(drawChartThirty);
            function drawChartToday() {
                {{jscode_chart_today|safe}}
                var options = {
                    chart: {
                    title: "Today - Temperature"
                    },
                    width: 900,
                    height: 500
                };
                var chart = new google.charts.Line(document.getElementById("linechart_today"));
                chart.draw(jscode_chart_today, google.charts.Line.convertOptions(options));
            }
            function drawChartSeven() {
                {{jscode_chart_seven|safe}}
                var options = {
                    chart: {
                    title: "Today - Humidity"
                    },
                    width: 900,
                    height: 500
                };
                var chart = new google.charts.Line(document.getElementById("linechart_seven"));
                chart.draw(jscode_chart_seven, google.charts.Line.convertOptions(options));
            }
            function drawChartThirty() {
                {{jscode_chart_thirty|safe}}
                var options = {
                    chart: {
                    title: "30 days"
                    },
                    width: 900,
                    height: 500
                };
                var chart = new google.charts.Line(document.getElementById("linechart_thirty"));
                chart.draw(jscode_chart_thirty, google.charts.Line.convertOptions(options));
            }
        </script>
    </head>
    <body>
        <h1>Charts</h1>
        <div id="linechart_today"></div>
        <h1>Charts</h1>
        <div id="linechart_seven"></div>
        <h1>Charts</h1>
        <div id="linechart_thirty"></div>
    </body>

{% endblock %}
