{% extends "base.html" %}

{% block content %}
    <head>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {'packages':['line']});
            google.charts.setOnLoadCallback(drawChartSevenTemperature);
            google.charts.setOnLoadCallback(drawChartSevenHumidity);
            function drawChartSevenTemperature() {
                {{jscode_chart_seven_temperature|safe}}
                var options = {
                    chart: {
                    title: "Temperature"
                    },
                    width: 900,
                    height: 500
                };
                var chart = new google.charts.Line(document.getElementById("linechart_seven_temperature"));
                chart.draw(jscode_chart_seven_temperature, google.charts.Line.convertOptions(options));
            }
            function drawChartSevenHumidity() {
                {{jscode_chart_seven_humidity|safe}}
                var options = {
                    chart: {
                    title: "Humidity"
                    },
                    width: 900,
                    height: 500
                };
                var chart = new google.charts.Line(document.getElementById("linechart_seven_humidity"));
                chart.draw(jscode_chart_seven_humidity, google.charts.Line.convertOptions(options));
            }
        </script>
    </head>
    <body>
        <h1>Last Seven Days</h1>
        <div id="linechart_seven_temperature"></div>
        <div id="linechart_seven_humidity"></div>
    </body>

{% endblock %}
